Repository emma2334/Dom-Observer: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, prettier --parser typescript --write, prettier --parser css --write, prettier-package-json --write, prettier --parser json --write

Create layout
  public/index.html
  src/App.module.css
  src/App.tsx
  src/index.css
  src/index.js
  src/react-app-env.d.ts
  src/reducers/store.js
  src/serviceWorker.js
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write

Add example
  package.json
  public/emma-bear.png
  src/App.module.css
  src/App.tsx
  src/demo.ts
  yarn.lock
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write, prettier-package-json --write, prettier --parser json --write

Add syntex highlighter
  declaration.d.ts
  package.json
  src/App.module.css
  src/App.tsx
  src/components/Display/index.module.css
  src/components/Display/index.tsx
  src/components/Editor/index.module.css
  src/components/Editor/index.tsx
  yarn.lock
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write, prettier-package-json --write, prettier --parser json --write

Replace content-editable dom to a editor with syntex highliter
  package.json
  src/App.tsx
  src/components/Display/index.module.css
  src/components/Editor/index.module.css
  src/components/Editor/index.tsx
  src/demo.ts
  yarn.lock
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write, prettier-package-json --write, prettier --parser json --write

Keep editor content in redux
  src/app/store.ts
  src/components/Editor/index.tsx
  src/index.js
  src/reducers/store.js
Due: yarn eslint, prettier --parser typescript --write

Convert code to DOM
  src/App.tsx
  src/app/store.ts
  src/components/Editor/index.tsx
  src/features/dom.ts
  src/features/editor.ts
Due: yarn eslint, prettier --parser typescript --write

Convert dom html to code when mutation happens
  src/App.tsx
  src/components/Display/index.tsx
  src/components/Editor/index.tsx
  src/features/dom.ts
  src/features/editor.ts
Due: yarn eslint, prettier --parser typescript --write

Remove script tags
  src/features/editor.ts
Due: yarn eslint, prettier --parser typescript --write

Convert style tags to inline css
  src/features/dom.ts
  src/utils/convertToInlineCss.ts
Due: yarn eslint, prettier --parser typescript --write

Remove redundancy
  public/favicon.ico
  public/index.html
  src/App.tsx
  src/components/Display/index.tsx
  src/components/Editor/index.tsx
Due: yarn eslint, prettier --parser typescript --write

Add github deploy
  .gitignore
  LICENSE
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --parser json --write

Updates
  asset-manifest.json
  emma-bear.png
  favicon.ico
  index.html
  static/css/2.0d8cb1d1.chunk.css
  static/css/2.0d8cb1d1.chunk.css.map
  static/css/main.b2c75600.chunk.css
  static/css/main.b2c75600.chunk.css.map
  static/js/2.5c201978.chunk.js
  static/js/2.5c201978.chunk.js.LICENSE.txt
  static/js/2.5c201978.chunk.js.map
  static/js/main.f262d673.chunk.js
  static/js/main.f262d673.chunk.js.map
  static/js/runtime-main.85189102.js
  static/js/runtime-main.85189102.js.map
Due: prettier --parser css --write, prettier --parser json --write

Add description
  src/App.module.css
  src/App.tsx
  src/components/Display/index.module.css
  src/components/Editor/index.module.css
  src/components/Usage/content.ts
  src/components/Usage/index.module.css
  src/components/Usage/index.tsx
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write

Show sync status
  src/App.module.css
  src/App.tsx
  src/components/Footer/index.module.css
  src/components/Footer/index.tsx
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write

Updates
  asset-manifest.json
  index.html
  static/css/main.373f69f2.chunk.css
  static/css/main.373f69f2.chunk.css.map
  static/css/main.b2c75600.chunk.css
  static/css/main.b2c75600.chunk.css.map
  static/js/2.5c201978.chunk.js
  static/js/2.5c201978.chunk.js.map
  static/js/2.b908eb5e.chunk.js
  static/js/2.b908eb5e.chunk.js.LICENSE.txt
  static/js/2.b908eb5e.chunk.js.map
  static/js/main.7236cb6c.chunk.js
  static/js/main.7236cb6c.chunk.js.map
  static/js/main.f262d673.chunk.js
  static/js/main.f262d673.chunk.js.map
Due: prettier --parser css --write, prettier --parser json --write

Minor adjustment
  package.json
  src/App.tsx
  src/components/Footer/index.tsx
  src/components/Usage/content.ts
  src/components/Usage/index.tsx
  src/index.tsx
  yarn.lock
Due: yarn eslint, prettier --parser typescript --write, prettier-package-json --write, prettier --parser json --write

Modify sync state footer position and add README.md
  README.md
  src/App.module.css
  src/App.tsx
  src/components/Display/index.tsx
  src/components/SyncState/index.module.css
  src/components/SyncState/index.tsx
  src/components/Usage/content.ts
  src/demo.ts
Due: yarn eslint, prettier --parser typescript --write, prettier --parser css --write

Updates
  asset-manifest.json
  index.html
  static/css/main.373f69f2.chunk.css
  static/css/main.373f69f2.chunk.css.map
  static/css/main.4e962b10.chunk.css
  static/css/main.4e962b10.chunk.css.map
  static/js/main.029ecf62.chunk.js
  static/js/main.029ecf62.chunk.js.map
  static/js/main.7236cb6c.chunk.js
  static/js/main.7236cb6c.chunk.js.map
Due: prettier --parser css --write, prettier --parser json --write

Updates
  asset-manifest.json
  index.html
  og.png
  static/js/2.3e8347fe.chunk.js
  static/js/2.3e8347fe.chunk.js.LICENSE.txt
  static/js/2.3e8347fe.chunk.js.map
  static/js/2.b908eb5e.chunk.js.map
  static/js/main.029ecf62.chunk.js.map
  static/js/main.7f7b69c2.chunk.js
  static/js/main.7f7b69c2.chunk.js.map
Due: prettier --parser json --write

Add og
  public/index.html
  public/og.png
Due: none

Updates
  index.html
  og.png
Due: none

Path conditions:
  yarn eslint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --parser css --write: any of: *.css
  prettier-package-json --write: any of: **/package.json
  prettier --parser json --write: any of: *.json
